<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">

        <dl id="menu-home">
            <dt><i class="Hui-iconfont">&#xe625;</i>
                <a href="/test/home" title="菜单管理">首页</a>
            </dt>

        </dl>

        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe72b;</i> 后台管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="/member-list.html" title="菜单管理">菜单管理</a></li>
                    <li><a href="" title="接口授权管理">接口授权管理</a></li>
                    <li><a href="" title="角色管理">角色管理</a></li>
                    <li><a href="" title="账户管理">账户管理</a></li>
                    <li><a href="" title="注册管理">注册管理</a></li>
                    <li><a href="" title="数据字典管理">数据字典管理</a></li>
                    <li><a href="" title="数据集合配置">数据集合配置</a></li>
                    <li><a href="" title="舆情规则配置">舆情规则配置</a></li>
                </ul>
            </dd>
        </dl>


        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 基础信息管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="" title="基原维护">基原维护</a></li>
                    <li><a href="" title="品种维护">品种维护</a></li>
                    <li><a href="" title="拒收原因">拒收原因</a></li>
                    <li><a href="" title="退货原因">退货原因</a></li>
                    <li><a href="" title="质检项维护">质检项维护</a></li>
                    <li><a href="" title="供货配置">供货配置</a></li>
                    <li><a href="" title="溯源字段配置">溯源字段配置</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe639;</i> 供应商管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a href="" title="评价管理">评价管理</a>
                        <!--<ul>-->
                            <!--<li><a href="" title="评价管理">评价项维护</a></li>-->
                            <!--<li><a href="" title="评价管理">评价项打分</a></li>-->
                            <!--<li><a href="" title="评价管理">查看评价报告</a></li>-->
                        <!--</ul>-->
                    </li>
                    <li>
                        <a href="" title="舆情管理">舆情管理</a>
                        <!--<ul>-->
                            <!--<li><a href="" title="评价管理">舆情处理</a></li>-->
                            <!--<li><a href="" title="评价管理">整改反馈</a></li>-->
                            <!--<li><a href="" title="评价管理">查看舆情</a></li>-->
                        <!--</ul>-->
                    </li>
                    <li>
                        <a href="" title="诚信档案">诚信档案</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe636;</i> 供应商准入<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <!--<dd>-->
            <!--<ul>-->
            <!--<li><a href="http://h-ui.duoshuo.com/admin/" title="评论列表">评论列表</a></li>-->
            <!--<li><a href="/feedback-list.html" title="意见反馈">意见反馈</a></li>-->
            <!--</ul>-->
            <!--</dd>-->
        </dl>
        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe672;</i> 药材供货<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="" title="储备单管理">储备单管理</a></li>
                    <li><a href="" title="供货">供货</a></li>
                    <li><a href="" title="在途信息">在途信息</a></li>
                    <li><a href="" title="收货">收货</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe63c;</i> 业务监管<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <!--<dd>-->
            <!--<ul>-->
            <!--<li><a href="/admin-role.html" title="角色管理">角色管理</a></li>-->
            <!--<li><a href="/admin-permission.html" title="权限管理">权限管理</a></li>-->
            <!--<li><a href="/admin-list.html" title="管理员列表">管理员列表</a></li>-->
            <!--</ul>-->
            <!--</dd>-->
        </dl>
        <dl id="menu-tongji">
            <dt><i class="Hui-iconfont">&#xe635;</i> 报表统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="" title="供货量报表">供货量报表</a></li>
                    <li><a href="" title="接收率报表">接收率报表</a></li>
                    <li><a href="" title="退货率报表">退货率报表</a></li>
                    <li><a href="" title="供应商预警统计">供应商预警统计</a></li>
                    <li><a href="" title="药材趋势分析">药材趋势分析</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe720;</i> 溯源查询<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="" title="系统设置">系统设置</a></li>
                    <li><a href="" title="栏目管理">栏目管理</a></li>
                    <li><a href="" title="数据字典">数据字典</a></li>
                    <li><a href="" title="屏蔽词">屏蔽词</a></li>
                    <li><a href="" title="系统日志">系统日志</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="">
            <dt><i class="Hui-iconfont">&#xe61d;</i> 应用助手<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="" title="公告管理">公告管理</a></li>
                    <li><a href="" title="百问百答">百问百答</a></li>
                    <li><a href="" title="操作指南">操作指南</a></li>

                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>